.element {
  background-color: #e6d5fa;
  padding-top: 185px;
  padding-bottom: 200px;
  overflow: hidden;

  @media (max-width: 599px) {
    padding-bottom: 61px;
  }
}

.title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0.412px;
  padding-bottom: 87px;

  strong {
    color: #771ac9;
    font-weight: 400;
  }

  @media (max-width: 599px) {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.412px;
    padding-bottom: 56px;

    br {
      display: none;
    }
  }
}

.title {
  margin: 0;
}

.concepts_head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
}

.concepts_title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.412px;
}

.concepts_buttons {
  display: flex;

  @media (max-width: 599px) {
    display: none;
  }
}

.concepts_link,
.solutions_link {
  button {
    border-color: #771ac9;
    color: #771ac9;
    padding: 8px 22px;

    &:hover {
      color: #fff;
    }
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.concepts {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  margin-bottom: 40px;
  position: relative;

  &:after {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    opacity: 0.4;
    position: absolute;
    width: 100%;
  }

  @media (max-width: 599px) {
    display: none;
  }
}

.mobile_concepts {
  display: none;
  padding-bottom: 56px;
  margin-bottom: 56px;
  position: relative;

  &:after {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    opacity: 0.4;
    position: absolute;
    width: 100%;
  }

  @media (max-width: 599px) {
    display: block;
  }
}

.card {
  background-color: #771ac9;
  border-radius: 16px;
  padding: 30px 20px;

  &--concept {
    height: 368px;
    width: calc(33% - 12px);

    @media (max-width: 599px) {
      height: 280px;
      margin-right: 12px;
      width: 70vw !important;
    }
  }

  &--solution {
    height: 227px;
    width: calc(50% - 12px);

    @media (max-width: 599px) {
      height: 280px;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.card_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  word-wrap: 100%;
}

.card_title {
  color: #e6d5fa;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.46px;
  margin: 0;
}

.card_description {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  letter-spacing: 0.412px;
  margin: 0;
}

.solutions_title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.2px;
  letter-spacing: 0.412px;
  margin-top: 0;
  margin-bottom: 20px;

  @media (max-width: 599px) {
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.412px;
  }
}

.solutions_subtitle {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.412px;
  margin-top: 0;
  margin-bottom: 60px;

  @media (max-width: 599px) {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.412px;
    margin-bottom: 40px;
  }
}

.solutions_cards_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: 599px) {
    flex-direction: column;
    justify-content: initial;
  }
}

.mobile_comcepts_buttons {
  margin-top: 24px;

  a {
    display: block;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
