.element {
  background-color: #212121;
  // padding-top: 133px;
  padding-bottom: 126px;
  width: 100%;
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.title_container {
  align-items: center;
  display: flex;
  width: 100%;
}

.icon {
  width: 42px;
}

.title_text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.412px;
  margin-left: 13px;
}

.button {
  align-items: center;
  display: flex;
  padding: 8px 15px;
  max-height: 42px;

  span {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.46px;
  }
}

.button_icon {
  margin-right: 8px;
  width: 24px;
}

.svg_flow {
  margin-bottom: 83px;
}

.steps {
  display: flex;
  position: relative;
  width: 100%;
}

.step_item {
  padding-left: 18px;
  position: relative;
  width: 25%;

  &:before {
    background-color: #fff;
    content: '';
    left: 0;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    width: 0.5px;
  }
}

.step_icon {
  height: 48px;
  margin-bottom: 23px;
  width: 48px;
}

.step_title,
.step_text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  line-height: 25.2px;
  letter-spacing: 0.412px;
}

.step_title {
  font-weight: 600;
  margin: 0 0 30px 0;
}

.step_text {
  font-weight: 400;
  margin: 0;
}
