.element {
  background-color: #212121;
  overflow: hidden;
  padding-bottom: 126px;
  width: 100%;

  @media (max-width: 599px) {
    padding-top: 147px;
  }
}

.head {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  z-index: 1;
}

.title_container {
  align-items: center;
  display: flex;
  width: 100%;
}

.icon {
  width: 42px;
}

.title_text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.412px;
  margin-left: 13px;
}

.button {
  align-items: center;
  display: flex;
  padding: 8px 15px;
  max-height: 42px;

  span {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.46px;
  }

  @media (max-width: 599px) {
    display: none;
  }
}

.button_mobile {
  display: none;
  margin: 30px auto 100px;
  padding: 8px 22px;

  @media (max-width: 599px) {
    display: block;
  }
}

.button_icon {
  margin-right: 8px;
  width: 24px;
}

.animation_container {
  margin-top: -40px;

  @media (max-width: 599px) {
    display: none;
    margin-top: 110px;
  }
}

.steps {
  display: flex;
  position: relative;
  width: 100%;

  @media (max-width: 1199px) and (min-width: 600px) {
    flex-wrap: wrap;
  }

  @media (max-width: 599px) {
    display: none;
  }
}

.step_item {
  padding-left: 18px;
  position: relative;
  width: 25%;

  &:before {
    background-color: #fff;
    content: '';
    left: 0;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    width: 0.5px;
  }

  @media (max-width: 1199px) and (min-width: 600px) {
    width: 50%;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 40px;
    }
  }

  @media (max-width: 599px) {
    padding-right: 40px;
  }
}

.step_icon {
  height: 48px;
  margin-bottom: 23px;
  width: 48px;
}

.step_title,
.step_text {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  line-height: 25.2px;
  letter-spacing: 0.412px;

  @media (max-width: 1199px) and (min-width: 600px) {
    font-size: 16px;
    line-height: 23.2px;
    width: 70%;
  }
}

.step_title {
  font-weight: 600;
  margin: 0 0 30px 0;
}

.step_text {
  font-weight: 400;
  margin: 0;
}

.mobile_steps {
  display: none;

  @media (max-width: 599px) {
    display: block;
  }
}

.mobile_modal_vector_parent {
  display: none;

  @media screen and (orientation: landscape) {
    display: block !important;
    padding: 30px;
    height: 100vh;
    width: 100vw;
  }

  @media (max-width: 599px) {
    display: block;
    height: 100vw;
    padding: 30px 0;
    width: 100vh;
  }
}

.mobile_vector_parent {
  @media screen and (orientation: landscape) {
    display: none;
  }
}

.modal {
  [data-modal-content] {
    height: 100vw;
    left: calc(50% - 50vh);
    position: absolute;
    transform-origin: center center;
    top: calc(50% - 50vw);
    transform: rotate(90deg);
    width: 100vh;

    svg {
      height: 100%;
      width: 100%;
    }

    @media screen and (orientation: landscape) {
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      transform: rotate(0);
      width: 100vw;
    }
  }
}
