.element {
  background-color: #771ac9;
  height: calc(var(--vh) - 80px);
  position: relative;
  width: 100%;

  @media (max-width: 969px) {
    height: 100vh;
  }
}

.container {
  display: flex;
  height: 100;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;

  @media (min-width: 1199px) and (max-height: 880px) {
    padding-bottom: 0;
  }

  @media (max-width: 969px) {
    justify-content: flex-end;
    padding-bottom: 12.9rem;
  }
}

.title {
  color: #fff;
  font-weight: 300;
  font-size: 96px;
  line-height: 116.7%;
  letter-spacing: -1.5px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;

  @media (max-width: 1199px) and (min-width: 970px) {
    font-size: 61px;
    line-height: 60px;
    margin-top: 50px;
  }

  @media (min-width: 1199px) and (max-height: 880px) {
    font-size: 80px;
  }

  @media (min-width: 1199px) and (max-height: 720px) {
    font-size: 72px;
    line-height: 111.7%;
  }

  @media (max-width: 969px) {
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.6rem;
  }
}

.highlight {
  color: #70ECFE;
}

.title_line {
  display: block;
}

.text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 48px;

  @media (max-width: 1199px) and (min-width: 970px) {
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: 1199px) and (max-height: 880px) {
    margin-bottom: 35px;
  }

  @media (min-width: 1199px) and (max-height: 720px) {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 20px;
  }

  @media (max-width: 969px) {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 3.1rem;

    br {
      display: none;
    }
  }

  &--dark {
    opacity: 0.7;
  }
}

.buttons_container {
  align-items: center;
  display: flex;
  margin-bottom: 72px;

  @media (min-width: 1199px) and (max-height: 880px) {
    margin-bottom: 50px;
  }

  a {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.button {
  @media (max-width: 969px) {
    background-color: #fff;
    color: #771AC9;
  }
}

.logos {
  position: relative;
  width: 100%;
}

.logos_container {
  position: relative;
  width: 100%;

  &--desktop {
    display: block;

    @media (max-width: 969px) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: 969px) {
      display: block;
    }
  }
}

.logo {
  display: block;
  flex-shrink: 0;
  margin-right: 126px;
  margin-bottom: 2.3rem;

  @media (min-width: 1199px) and (max-height: 880px) {
    max-width: 120px;
  }

  @media (max-width: 969px) {
    height: 2.9rem;
    margin-right: 2.3rem;
  }
}
