.element {
  background-color: #771ac9;
  height: var(--vh);
  position: relative;
  width: 100%;

  @media (max-width: 599px) {
    height: var(--vh);
  }
}

.container {
  display: flex;
  height: 100;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;

  @media (max-width: 599px) {
    justify-content: flex-end;
    padding-bottom: 7.9rem;
  }
}

.title {
  color: #fff;
  font-size: 82px;
  font-weight: 400;
  letter-spacing: 0.412px;
  line-height: 82px;
  width: 100%;

  @media (max-width: 599px) {
    font-size: 3.5rem;
    line-height: 3.5rem;

    br {
      display: none;
    }
  }
}

.title_highlight {
  display: inline-block;
  position: relative;
  height: 3.7rem;

  @media (max-width: 599px) {
    height: 2.6rem;
  }
}

.word {
  display: flex;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &:nth-child(1) {
    span {
      opacity: 1;
    }
  }
  span {
    opacity: 0;
  }
}

.title_line {
  display: block;
}

.text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 31px;

  @media (max-width: 599px) {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 3.1rem;

    br {
      display: none;
    }
  }
}

.buttons_container {
  align-items: center;
  display: flex;

  a {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}
