# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/.tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.tool-versions

# System Files
.DS_Store
Thumbs.db
.env
.nvmrc

# Sentry
.sentryclirc

prisma/schema.prisma
src/services/**/**/types.ts
src/services/**/**/validation.ts

# Sentry
.sentryclirc

# e2e Tests
screenshots/
test-results/
storageState.json

.next
.vscode/settings.json
src/pages/dev.tsx
