.element {
  background-color: #771AC9;
  padding: 180px 0;
  position: relative;
  width: 100%;

  @media (max-width: 799px) {
    padding: 8rem 0;
  }
}

.title {
  color: #e6d5fa;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 116.7%;
  margin-bottom: 40px;


  @media (max-width: 799px) {
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.412px;
    margin-bottom: 30px;

    br {
      display: none;
    }
  }
}

.title_line {
  display: block;
  height: 120px;
  overflow: hidden;

  span {
    display: inline-block;
    will-change: transform, opacity;
  }

  @media (max-width: 799px) {
    height: 40px;
  }
}

.text {
  color: #e6d5fa;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.412px;
  margin-bottom: 60px;

  @media (max-width: 799px) {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.412px;
    margin-bottom: 30px;

    br {
      display: none;
    }
  }
}

.buttons {
  align-items: center;
  display: flex;
  margin: auto;
  width: fit-content;
}

.button_link {
  &:first-child {
    margin-right: 15px;
  }
}

.button {
  &--contained {
    background-color: #fff;
    color: #771AC9;
    transition: all 0.6s ease;

    &:hover {
      color: #fff;
    }
  }
}
