.element {
  background-color: #212121;
  padding-bottom: 140px;

  @media (max-width: 768px) {
    padding-bottom: 64px;
  }
}

.wrapper {
  border-radius: 16px;
  border: 1px solid rgba(230, 213, 250, 0.15);
  padding: 20px 24px;
}

.title {
  color: #e6d5fa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.46px;
  margin: 0;
  padding-bottom: 35px;

  @media (max-width: 768px) {
    color: #a3a3a3;
  }
}

.logos,
.names {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.logos {
  &:after {
    background: #e6d5fa;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.2;
    position: absolute;
    height: 0.5px;
    width: 100%;
  }
}

.names {
  padding-top: 66px;
  padding-left: 10px;

  @media (max-width: 768px) {
    padding-left: 0;
    padding-top: 32px;
  }
}

.logo_container,
.name_container {
  display: flex;
  margin-bottom: 35px;
  width: 25%;

  @media (max-width: 768px) {
    height: 62px;
    position: relative;
    width: 50%;

    &:nth-child(even) {
      padding-left: 20px;

      img {
        max-width: 70%;
      }
    }

    &:nth-child(odd) {
      padding-right: 20px;
    }
    &:nth-child(4) {
      img {
        max-width: 70%;
      }
    }

    img {
      max-height: 100%;
      max-width: 90%;
    }
  }
}

.name_container {
  @media (max-width: 768px) {
    height: 40px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 10px;
    }
  }
}

.logo_container {
  align-items: center;
}

.name {
  color: #a6a6a6;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.17px;
  max-width: 150px;
}
