.element {
  background-color: #771ac9;
  border-radius: 16px;
  height: 395px;
  transition: background-color 0.8s ease;
  width: 273px;

  &:hover {
    background-color: #591597;
  }
}

.svg_container {
  width: 100%;
}
