.element {
  background-color: #f6f4fa;
  overflow: hidden;
  padding-top: 171px;
  padding-bottom: 140px;
  position: relative;

  &:after {
    background-color: #cbcacf;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  @media (max-width: 599px) {
    padding-top: 30px;
  }
}

.head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 599px) {
    margin-bottom: 50px;
  }
}

.title {
  color: #212121;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.2px;
  letter-spacing: 0.412px;

  @media (max-width: 599px) {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.412px;
    margin: 0;
  }
}

.controls {
  display: none;

  @media (max-width: 599px) {
    display: flex;
  }
}

.controls_button {
  background-color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 42px;
  outline: none;
  width: 42px;

  &:not(:first-child) {
    margin-left: 5px;
  }

  .arrow {
    fill: #771ac9;
    transition: fill 0.8s ease;
  }

  &--disabled {
    pointer-events: none;
    .arrow {
      fill: #0000009d;
    }
  }
}

.arrow {
  width: 16px;
}

.card {
  @media (max-width: 599px) {
    margin-right: 18px;
    width: 70vw;
  }
}

.cards_container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  width: 100%;

  @media (max-width: 599px) {
    display: none;
  }
}

.card_text {
  color: #e6d5fa;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.325px;
  padding: 0 30px;

  strong {
    color: #fff;
  }
}

.card_vector_container {
  height: 240px;
  position: relative;

  &--full-width {
    width: 100%;
  }
}

.card_svg {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

  &--id {
    // padding-top: 80px;
    width: 100%;
  }

  &--standardize {
    // padding: 80px 55px;
    width: 180px;
  }

  &--privacy {
    width: 203px;
  }

  &--verification {
    margin-left: 10px;
    width: 170px;
  }
}

.mobile_slider {
  display: none;

  @media (max-width: 599px) {
    display: block;
  }
}

.dots_container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.dot {
  background-color: #b3b3b3;
  border-radius: 50%;
  height: 8px;
  transition: background-color 0.8s ease;
  width: 8px;

  &--active {
    background-color: #771ac9;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
}
