.element {
  padding-bottom: 82px;

  @media (max-width: 799px) {
    padding-bottom: 49px;
  }

  &--dark {
    background-color: #771ac9;
  }

  &--light {
    background-color: #e6d5fa;

    .title {
      color: rgba(0, 0, 0, 0.87);
    }

    .text {
      color: rgba(0, 0, 0, 0.6);
    }

    .footer {
      background-color: #771ac9;
    }

    .copyright {
      color: #fff;
    }

    .links_link {
      color: #fff !important;
    }

    .subscribe_text {
      color: #fff;
    }

    .input {
      border-color: #fff !important;
      color: #fff !important;

      &::placeholder {
        color: #fff !important;
      }
    }

    .button {
      background-color: #771ac9;

      &:hover {
        background-color: #9247d3;
      }
    }
  }
}

.footer {
  background-color: #e6d5fa;
  border-radius: 18px;
  padding: 40px 30px;
  width: 100%;

  @media (max-width: 799px) {
    padding: 30px 20px;
  }
}

.logo {
  width: 74px;

  @media (max-width: 799px) {
    width: 42px;
  }
}

.columns {
  display: flex;
  margin-top: 27px;

  @media (max-width: 799px) {
    flex-direction: column;
  }
}

.column {
  &:nth-child(1) {
    width: 365px;
  }

  &:nth-child(2) {
    width: 321px;

    @media (max-width: 1199px) and (min-width: 800px) {
      padding-right: 40px;
      width: 32%;
    }
  }

  &:nth-child(3) {
    margin-left: 71px;
    width: 294px;

    @media (max-width: 1199px) and (min-width: 800px) {
      margin-left: 20px;
    }
  }

  @media (max-width: 799px) {
    width: 100% !important;

    &:nth-child(3) {
      margin-left: 0;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.copyright {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.17px;
  margin-bottom: 23px;
  margin-top: 0;
}

.links {
  display: flex;
}

.link {
  background-color: #fff;
  border-radius: 12px;
  height: 40px;
  padding: 8px;
  position: relative;
  width: 40px;

  &:not(:first-child) {
    margin-left: 8px;
  }
}

.link_logo {
  fill: #771ac9;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 20px;
}

.links_list {
  column-count: 2; /* Divide em duas colunas */
  column-gap: 20px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.links_item {
  margin-bottom: 10px;
  position: relative;
  width: 156px;
}

.links_link {
  color: #212121 !important;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  opacity: 1;
  position: relative;
  text-decoration: none !important;
  transition: opacity 0.8s ease;
  width: 100%;

  &:hover {
    opacity: 0.4;
  }

  @media (max-width: 1199px) and (min-width: 800px) {
    font-size: 13px !important;
    font-weight: 400;
  }

  @media (max-width: 799px) {
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 24px !important;
    letter-spacing: 0.15px !important;
  }
}

.subscribe_text {
  color: #212121;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  max-width: 294px;
  margin-top: 0;
  strong {
    font-weight: 600;
  }
}

.input {
  border: 0.5px solid #771ac9;
  background-color: transparent;
  border-radius: 16px;
  color: #771ac9;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding: 0 12px;
  height: 56px;
  margin-bottom: 16px;
  outline: none;
  width: 294px;

  &::placeholder {
    color: #771ac9;
  }

  @media (max-width: 1199px) and (min-width: 800px) {
    width: 100%;
  }

  @media (max-width: 799px) {
    border-width: 1px;
  }
}
