.element {
  background-color: #771ac9;
  padding-top: 256px;
}

.title {
  color: #e6d5fa;
  text-align: center;
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0.412px;
  margin-bottom: 40px;
}

.text {
  color: #e6d5fa;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.412px;
  margin-bottom: 60px;
}

.button {
  display: block;
  margin: auto;
}
