.element {
  background-color: #F0E6FC;
  padding-top: 120px;
  padding-bottom: 96px;
  position: relative;
  width: 100%;

  @media (max-width: 969px) {
    padding-top: 8rem;
    padding-bottom: 7.4em;
  }

  &:after {
    background-color: #000;
    bottom: 0;
    content: '';
    height: 1px;
    opacity: 0.12;
    position: absolute;
    left: 0;
    width: 100%;
  }
}

.label {
}

.title {
  color: rgba(0, 0, 0, 0.87);
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: -0.5px;
  line-height: 120%;
  margin-bottom: 72px;
  margin-top: 0;

  @media (max-width: 969px) {
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 4.2rem;
    letter-spacing: 0.25px;
    margin-bottom: 4rem;
    text-align: left;

    br {
      display: none;
    }
  }
}

.logo {
  path {
    &:first-child {
      fill: #fff;
    }
  }
}

.highlight {
  background-color: #771AC9;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
  padding: 42px 32px 40px;
  position: relative;
  width: 100%;

  @media (max-width: 969px) {
    padding: 24px;
  }
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 969px) {
    flex-direction: column;
  }
}

.item {
  background-color: #fff;
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 24px;
  width: calc(50% - 12px);

  @media (max-width: 969px) {
    padding: 2.4rem;
    width: 100%;
  }
}

.item_icon {
  width: 48px;
}

.item_title {
  color: rgba(0, 0, 0, 0.87);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 133.4%;
  margin-bottom: 24px;

  &--white {
    color: #fff;
  }

  @media (max-width: 969px) {
    font-size: 2.4rem;
  }
}

.item_text {
  color: rgba(0, 0, 0, 0.87);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;
  max-width: 95%;
  margin: 0;

  &--white {
    color: #fff;
  }

  @media (max-width: 969px) {
    font-size: 1.6rem;
    max-width: 100%;
  }
}

.buttons {
  align-items: center;
  display: flex;
  margin-top: 32px;
}

.button_link {
  flex-shrink: 0;

  &:first-child {
    margin-right: 15px;
  }
}

.button {
  &--contained {
    background-color: #fff;
    color: #771AC9;
    transition: all 0.6s ease;

    &:hover {
      color: #fff;
    }
  }
}

.fingerprint {
  opacity: 0.4;
  position: absolute;
  stroke: #fff;
  right: 29px;
  top: 50%;
  transform: translateY(-50%);
  width: 393px;

  @media (max-width: 969px) {
    display: none;
  }
}
