.element {
  left: 0;
  height: 100px;
  position: fixed;
  top: 0;
  transition: transform 0.6s ease;
  width: 100%;
  z-index: 3;

  &--light {
    .wrapper {
      &:before {
        background-color: #fff;
      }
    }

    .link {
      button {
        color: #fff;
      }
    }
  }

  &--dark {
    .wrapper {
      &:before {
        background-color: #212121;
      }
    }

    .link {
      button {
        color: #212121;
      }
    }

    .mobile_button_head_dashboard,
    .mobile_menu_button_link_contained {
      background-color: #771ac9;
    }
    .button_outlined {
      border-color: #771ac9;
      color: #771ac9;

      &:hover {
        border-color: #fff;
        color: #fff;
      }
    }
  }

  &--hide {
    opacity: 0;
  }

  &--down {
    transform: translateY(-100%);
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background-color: #fff;
    transition: background-color 0.8s ease;
  }
}

.logo_link {
  display: flex;
}

.links {
  align-items: center;
  display: flex;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.link {
  display: block;

  button {
    transition: color 0.8s ease, opacity 0.6s ease;
  }

  &:not(:first-child) {
    margin-left: 20px;
  }
}

.buttons_container {
  align-items: center;
  display: flex;

  a {
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}

.button_contained {
  transition: color 0.6s ease, background-color 0.6s ease;

  .element--light & {
    background-color: #fff;
    color: #771ac9;

    &:hover {
      background-color: #53128c;
      color: #fff;
    }
  }

  .element--dark & {
    background-color: #771ac9;
    color: #fff;

    &:hover {
      background-color: #53128c;
    }
  }
  &.loading {
    opacity: 0.3;
    display: flex;
  }
}

.mobile_buttons {
  align-items: center;
  display: flex;
}

.mobile_burger {
  margin-left: 11px;
}

.mobile_menu_mask {
  background-color: #212121;
  display: none;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: height 0.8s ease;
  width: 100%;
  z-index: -1;

  &--open {
    pointer-events: initial;
    height: var(--vh);
  }

  @media (max-width: 1199px) {
    display: block;
  }
}

.mobile_wrapper {
  height: var(--vh);
  padding-top: 123px;
}

.mobile_link {
  display: block;
  padding-top: 25px;
  padding-bottom: 29px;
  text-decoration: none !important;
  position: relative;
  width: 100%;

  button {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    justify-content: space-between;
    line-height: 36px;
    letter-spacing: 0.412px;
    width: 100%;
  }

  &:not(:last-child) {
    &:after {
      background-color: #fff;
      bottom: 0;
      content: '';
      height: 1px;
      opacity: 0.2;
      position: absolute;
      width: 100%;
    }
  }
}

.mobile_link_arrow {
  opacity: 0.5;
  width: 10px;
}

.mobile_menu_buttons {
  bottom: 37px;
  position: absolute;
  width: 100%;
}

.mobile_menu_button_link {
  display: block;
  width: 100%;

  button {
    width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
