.element {
  background-color: #212121;
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;

  @media (max-width: 1199px) {
    padding-top: 73px;
  }
}

.title {
  color: #f5b5ff;
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 116.7%;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
  margin-top: 0;

  @media (max-width: 1199px) {
    font-size: 34px;
    font-style: normal;
    line-height: 41px;
    letter-spacing: 0.412px;
    margin-bottom: 23px;
  }
}

.stats {
  display: flex;
  position: relative;
  width: 100%;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}

.link {
  display: block;
  margin-bottom: 97px;

  @media (max-width: 599px) {
    margin-bottom: 48px;
  }
}

.button {
  background-color: #CE93D8;
  color: #212121;

  &:hover {
    background-color: #ce93d883;
  }
}

.small_boxes_container {
  position: relative;

  @media (max-width: 1199px) {
    margin: 24px 0;
  }
}

.box {
  background-color: #f5b5ff;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 19px 20px 24px;

  &--lg {
    height: 400px;
    width: 564px;
  }

  &--sm {
    height: 188px;
    width: 270px;

    &:first-child {
      margin-bottom: 24px;
    }
  }

  &--md {
    height: 400px;
    margin-left: 24px;
    width: 270px;
  }

  @media (max-width: 1199px) and (min-width: 600px) {
    // &--lg {
    //   height: 400px;
    //   margin-right: 24px;
    //   width: 564px;
    // }

    // &--sm {
    //   height: 188px;
    //   width: 270px;

    //   &:first-child {
    //     margin-bottom: 24px;
    //   }
    // }

    // &--md {
    //   height: 400px;
    //   margin-left: 24px;
    //   width: 270px;
    // }
  }

  @media (max-width: 1199px) {
    &--lg,
    &--sm,
    &--md {
      height: 155px;
      margin-left: 0;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}

.box_title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.46px;

  @media (max-width: 599px) {
    margin-top: 5px;
  }
}

.box_value {
  color: var(--primary-main, #771ac9);
  display: flex;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 45px; /* 4 */
  letter-spacing: -5px;
  overflow: hidden;
  max-height: 45px;

  &--lg {
    font-size: 82px;
    font-style: normal;
    letter-spacing: -8px;
    line-height: 82px;
    max-height: 82px;
  }

  @media (max-width: 1199px) and (min-width: 600px) {
    font-size: 85px;
    font-style: normal;
    line-height: 85px;
    max-height: initial;
  }

  @media (max-width: 599px) {
    font-size: 44px;
    font-style: normal;
    line-height: 44px;
    max-height: initial;
  }

  > span {
    &:last-child {
      transform: translateX(10px);
    }
  }
}

.letter_container {
  display: block;
}
