.lenis.lenis-smooth {
  scroll-behavior: auto;
}

html.lenis {
  height: auto;
}

.slick-list-parent {
  .slick-list {
    overflow: initial;
  }
}

html {
  @media (max-width: 768px) {
    font-size: calc(100vw / 390 * 10);
  }
}
