@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.slick-remove-overflow {
  .slick-list {
    overflow: initial;
  }
}

html {
  @media (max-width: 599px) {
    font-size: calc(100vw / 390 * 10);
  }

  * {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}
