.element {
  padding-top: 109px;
  padding-bottom: 160px;

  &--primary {
    background-color: #f6f4fa;
  }

  &--secondary {
    background-color: #fff;
  }

  @media (max-width: 599px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.head {
  align-items: center;
  display: flex;
  margin-bottom: 106px;

  &--primary {
  }

  &--secondary {
    flex-direction: row-reverse;
  }

  @media (max-width: 599px) {
    flex-direction: column;
    margin-bottom: 56px;
  }
}

.head_column {
  width: 50%;

  &--larger {
    width: 70%;
  }

  &:last-child {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 1199px) and (min-width: 600px) {
      padding-left: 50px;
    }
  }

  &--secondary {
    &:last-child {
      display: flex;
      justify-content: flex-start;

      @media (max-width: 1199px) and (min-width: 600px) {
        padding-right: 50px;
      }
    }
  }

  @media (max-width: 599px) {
    width: 100%;

    &:first-child {
      margin-bottom: 40px;
    }
  }
}

.title_sm {
  padding-bottom: 60px;
}

.title_lg {
  padding-bottom: 20px;

  @media (max-width: 969px) {
    br {
      display: none;
    }
  }
}

.text {
  padding-bottom: 40px;

  @media (max-width: 599px) {
    br {
      display: none;
    }
  }
}

.vector {
  max-height: 391px;
  max-width: 520px;

  @media (max-width: 599px) {
    max-width: initial;
    max-height: initial;
    width: 100%;
  }
}

.button {
  border-color: #771ac9;
  color: #771ac9;

  &:hover {
    color: #fff;
  }
}

.features {
  display: flex;
  margin-bottom: 83px;

  @media (max-width: 599px) {
    flex-direction: column;
  }
}

.features_card {
  padding-left: 20px;
  padding-right: 40px;
  position: relative;
  width: 33.3%;

  &:before {
    background-color: #000;
    content: '';
    left: 0;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 0.5px;
  }

  @media (max-width: 599px) {
    padding-right: 0;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.features_card_icon_container {
  align-items: center;
  display: flex;
  height: 50px;

  @media (max-width: 599px) {
    height: auto;
  }
}

.features_card_icon {
  display: block;
  fill: #771ac9;
  margin-bottom: 20px;
}

.features_card_title,
.features_card_description {
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 25.2px;
  letter-spacing: 0.412px;
  margin: 0;
}

.features_card_title {
  font-weight: 600;
  margin-bottom: 20px;
}

.features_card_description {
  font-weight: 400;
}

.highlights {
  display: flex;

  @media (max-width: 599px) {
    flex-direction: column;
  }
}

.highlight_item {
  text-decoration: none;
  width: 50%;

  &:first-child {
    padding-left: 26px;
    padding-right: 100px;
    position: relative;

    &:before {
      background-color: #000;
      content: '';
      left: 0;
      height: 100%;
      opacity: 0.2;
      position: absolute;
      top: 0;
      width: 0.5px;
    }
  }

  &:last-child {
    border-radius: 18px;
    padding: 30px 20px;
  }

  &--primary {
    &:last-child {
      background-color: #fff;
      border: 1px solid transparent;
      transition: background-color 0.8s ease, border-color 0.8s ease;

      &:hover {
        background-color: #ffffff82;
        border-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &--secondary {
    &:last-child {
      background-color: #f6f4fa;
      border: 1px solid rgba(0, 0, 0, 0.1);
      transition: background-color 0.8s ease;

      &:hover {
        background-color: #d6d5d8;
      }
    }
  }

  @media (max-width: 599px) {
    width: 100%;
  }
}

.highlight_icon {
  fill: #771ac9;
}

.highlight_text {
  color: #212121;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.412px;
}

.highlight_item_title {
  color: #771ac9;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.46px;
  margin: 0;
  padding-bottom: 35px;
}

.highlight_item_description {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px;
  letter-spacing: 0.412px;
  margin: 0;
}
